.section1 {
    width: 360px;
    height: 800px;
    overflow: hidden;
}

.photo {
    margin-top: 148px;
}

.h1 {
    font-family: DM Serif Display;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0px;
    color: rgba(21, 21, 21, 1)
}

.h2 {
    font-family: Public Sans;
    font-size: 12px;
    text-align: center;
    margin-top: 4px;
    font-weight: 500;
    color: rgba(21, 21, 21, 1)
}

.div-section-2 {
    margin-top: 86px;
    overflow: hidden;
}

.recent-work {
    display: block;
    background-color: rgba(224, 0, 94, 1);
    border: none;
    font-family: Public Sans;
    font-weight: 600;
    color: rgba(249, 249, 249, 1);
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
}

.recent-work:hover {
    background-color: rgba(21, 21, 21, 1);
    transition: 0.2s ease-in-out;
}

.about-me {
    display: block;
    background-color: rgba(224, 0, 94, 1);
    border: none;
    font-family: Public Sans;
    font-weight: 600;
    color: rgba(249, 249, 249, 1);
    font-size: 14px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 16px;
    width: 100%;
    cursor: pointer;
}

.about-me:hover {
    background-color: rgba(21, 21, 21, 1);
    transition: 0.2s ease-in-out;
}

.contact {
    display: block;
    background-color: rgba(224, 0, 94, 1);
    border: none;
    font-family: Public Sans;
    font-weight: 600;
    color: rgba(249, 249, 249, 1);
    font-size: 14px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-left: auto;
    width: 100%;
    margin-top: 16px;
    position: relative;
    /* Ensure positioning context for pseudo-element */
    overflow: hidden;
    /* Hide any overflowing content */
    cursor: pointer;
}

.contact:hover {
    background-color: rgba(21, 21, 21, 1);
    transition: 0.2s ease-in-out;
}

.social-media {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: -80px;
    overflow: hidden;
}

.button-link {
    text-decoration: none;
}

.body {
    display: flex;
    justify-content: center;
}