body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 800px;
    overflow: hidden;
    background-color: #fff;
}

.section-image-titres-boutons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.photo {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: rgba(21, 21, 21, 1);
}

h2 {
    font-family: 'Public Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    color: rgba(21, 21, 21, 1);
    margin-top: -20px;
}

.div-boutons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}

button {
    display: block;
    background-color: rgba(224, 0, 94, 1);
    border: none;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    color: rgba(249, 249, 249, 1);
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 8px 0;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: rgba(21, 21, 21, 1);
    transition: 0.2s ease-in-out;
}

.section-reseaux-sociaux {
    width: 100%;
    margin-bottom: 20px;
}

.social-media-icons {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}

.social-media-icons a img {
    width: 24px;
    height: 24px;
}

.button-link {
    text-decoration: none;
    width: 100%;
}
